html {
    background-color: #e08840;
    font-family:"Emilys Candy", Geneva, Tahoma, sans-serif
}
body {
    background-color: #f8b557;
    width: 600px;
    margin: 0 auto;
    border: 5 px solid black; 
    padding: 0 20px 20px 20px

}
p, li {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 1px;
}
h1 {
    font-size: 60px;
    text-align: center;
}
.bold {
    font-weight: bold;
}
li.bold {
    font-style: italic;
}
p.bold {
    text-decoration: underline;
}
#subjectintro {
    color: red;
}
img {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
}