html {
    background-color: #eba368;
    font-family: 'Emilys Candy', cursive;
}
body {
    background-color: #f5c071;
    width:900px;
    margin: 0 auto;
    border: 5 px solid black; 
    padding: 5px 5px 10px 10px
}
p {
    /* font-family: 'arvo'; */
    font-size: 2em;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}
ol{
    font-family: 'dosis';
}
li { 
    font-size: 1em;
    line-height: 2.5;
    letter-spacing: 1px;
    color: rgb(89, 14, 14); 
}
h1 {
    
    color: rgb(12, 20, 245) ; 
    font-size: 55px;
    text-align: center;
}
h3 {
    color: rgb(129, 78, 233) ; 
    font-size: 30px;
    text-align: center;
}
li.bold {
    font-style: italic;
    font-weight: bold
}
li.underline {
    text-decoration: underline;
}
#red {
    color: red;
    font-weight: bold; 
}
img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

